[maxscale]
# NUMBER OF WORKER THREADS HANDLING EVENTS
threads=auto 

[backend-service]
type=service
router=readconnroute
router_options=synced
servers={{ backend_servers | join(', ') }}
user=maxscale
password=E6A1798F463F36FBAEDBBBEF39290BBDC184E39DA4EA148F0DC3108EFC9EEF90
            
[frontend-service]
type=service
router=readconnroute
router_options=synced
servers={{ frontend_servers | join(', ') }}
user=maxscale
password=E6A1798F463F36FBAEDBBBEF39290BBDC184E39DA4EA148F0DC3108EFC9EEF90
    
[backend-listener]
type=listener
service=backend-service
protocol=MariaDBClient
port=9001

[frontend-listener]
type=listener
service=frontend-service
protocol=MariaDBClient
port=9002

{% for host in backend_servers + frontend_servers -%}
[{{ host }}]
type=server
address={{ host }}
port=3306
protocol=MariaDBBackend

{% endfor -%}

[galera-monitor]
type=monitor
module=galeramon
servers={{ (backend_servers + frontend_servers) | join(', ') }}
user=maxscale
password=E6A1798F463F36FBAEDBBBEF39290BBDC184E39DA4EA148F0DC3108EFC9EEF90

; [CLI]
; type=service
; router=cli

; [CLI-listener]
; type=listener
; service=CLI
; protocol=maxscaled
; socket=default
