[defaults]
inventory       = hosts.yml

# EDIT the remote_user!
remote_user     = ubuntu
deprecation_warnings = False

# Note to self. Ansible stores temporary stuff in ~/.ansible/ etc.  Problem with this is
# if you have an automounted home directory, root may not be able to write to it.  Move it
# to /tmp/ where there are no write issues.  (There also may be added complications when
# the home directory is shared across all the target machines.)
remote_tmp = /tmp/ansible-$USER
local_tmp = /tmp/ansible-$USER

# If running from within the github dev area, specify where the collections are. Otherwise
# this should pick up the roles from ~/.ansible (so leave commented out).
#roles_path = gkservercollection/roles

[inventory]


[privilege_escalation]


[paramiko_connection]


[ssh_connection]


[persistent_connection]


[sudo_become_plugin]


[selinux]


[colors]


[diff]
