[defaults]
inventory       = hosts.yml
remote_user     = atls
deprecation_warnings = False

[inventory]


[privilege_escalation]


[paramiko_connection]


[ssh_connection]


[persistent_connection]


[sudo_become_plugin]


[selinux]


[colors]


[diff]
