CREATE TABLE {{ keyspace }}.htmcandidates (
    htm10 ascii,
    htm13 ascii,
    htm16 ascii,
    jd double,
    candid bigint,
    chinr float,
    chipsf float,
    dec double,
    decnr double,
    diffmaglim float,
    exptime float,
    fid int,
    field int,
    fwhm float,
    isdiffpos ascii,
    jdendhist double,
    jdendref double,
    jdstarthist double,
    jdstartref double,
    magap float,
    magapbig float,
    magdiff float,
    magfromlim float,
    maggaia float,
    maggaiabright float,
    magnr float,
    magpsf float,
    magzpsci float,
    magzpscirms float,
    magzpsciunc float,
    nbad int,
    nid int,
    nneg int,
    objectid ascii,
    ra double,
    ranr double,
    rb float,
    rbversion ascii,
    scorr double,
    seeratio float,
    sigmagap float,
    sigmagapbig float,
    sigmagnr float,
    sigmapsf float,
    sky float,
    ssdistnr float,
    ssmagnr float,
    ssnamenr ascii,
    ssnrms float,
    sumrat float,
    xpos float,
    ypos float,
    zpclrcov float,
    zpmed float,
    PRIMARY KEY (htm10, htm13, htm16, jd));
